<a href="https://colab.research.google.com/github/NemesisCrociata/Production-of-Product-Sales/blob/main/Prediction_of_Product_Sales.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Prediction of Product Sales
Nemesis Crociata
## Project Overview
## Load and Inspect Data

In [1]:
# Relevant packages are imported.
# The data set is uploaded as a Pandas DataFrame.

import pandas as pd
import numpy as np
import missingno as msno

file = "/content/drive/MyDrive/CodingDojo/01-Fundamentals/Week02/Data/sales_predictions_2023.csv"

df = pd.read_csv(file)

In [2]:
df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [3]:
df.tail()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
8518,FDF22,6.865,Low Fat,0.056783,Snack Foods,214.5218,OUT013,1987,High,Tier 3,Supermarket Type1,2778.3834
8519,FDS36,8.380,Regular,0.046982,Baking Goods,108.1570,OUT045,2002,NaN,Tier 2,Supermarket Type1,549.2850
8520,NCJ29,10.600,Low Fat,0.035186,Health and Hygiene,85.1224,OUT035,2004,Small,Tier 2,Supermarket Type1,1193.1136
8521,FDN46,7.210,Regular,0.145221,Snack Foods,103.1332,OUT018,2009,Medium,Tier 3,Supermarket Type2,1845.5976
8522,DRG01,14.800,Low Fat,0.044878,Soft Drinks,75.4670,OUT046,1997,Small,Tier 1,Supermarket Type1,765.6700

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

## Clean Data

- There are 8,523 rows and 12 columns present.

In [5]:
rename_dict = {'Item_Identifier': 'Item_ID',
               'Item_MRP': 'Maximum_Retail_Price',
               'Outlet_Location_Type': 'Location_Type'}

df = df.rename(rename_dict, axis=1)
df.head()

,Item_ID,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Maximum_Retail_Price,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [6]:
# To start, the data set will be checked for any unnecessary columns.
# Unique values are shown for each column.

unique_vals = df.nunique()
unique_vals

Item_ID                      1559
Item_Weight                   415
Item_Fat_Content                5
Item_Visibility              7880
Item_Type                      16
Maximum_Retail_Price         5938
Outlet_Identifier              10
Outlet_Establishment_Year       9
Outlet_Size                     3
Location_Type                   3
Outlet_Type                     4
Item_Outlet_Sales            3493
dtype: int64

In [7]:
# The percentage of unique values are calculated.
unique_vals / len(df) * 100

# Since there are no columns with 100% unique values, no columns are removed.

Item_ID                      18.291681
Item_Weight                   4.869178
Item_Fat_Content              0.058665
Item_Visibility              92.455708
Item_Type                     0.187727
Maximum_Retail_Price         69.670304
Outlet_Identifier             0.117330
Outlet_Establishment_Year     0.105597
Outlet_Size                   0.035199
Location_Type                 0.035199
Outlet_Type                   0.046932
Item_Outlet_Sales            40.983222
dtype: float64

In [8]:
# Duplicated rows are checked next.
df.duplicated().sum()

#Since there are no duplicated rows in the data set, no rows are removed.

0

In [9]:
# Columns will be inspected by data type to see if any should be changed.
df.dtypes

Item_ID                       object
Item_Weight                  float64
Item_Fat_Content              object
Item_Visibility              float64
Item_Type                     object
Maximum_Retail_Price         float64
Outlet_Identifier             object
Outlet_Establishment_Year      int64
Outlet_Size                   object
Location_Type                 object
Outlet_Type                   object
Item_Outlet_Sales            float64
dtype: object

Columns that require further inspection are 'Outlet_Location_Type' and 'Outlet_Type'.

- Outlet_Location_Type is defined as "[t]he type of area in which the store is located".
  - Although the labels could be reduced to their numerical value, this isn't appropriate for the data.

- Outlet_Type is defined as "[w]hether the outlet is a grocery store or some sort of supermarket".
  - Again, although the labels can be reduced to a numerical value, this isn't appropriate for the data.


**No column data types need to be adjusted.**

In [10]:
for col in df.columns:
  print(f'Value Counts for {col}:')
  print(df[col].value_counts ())
  print('\n')

Value Counts for Item_ID:
FDW13    10
FDG33    10
NCY18     9
FDD38     9
DRE49     9
         ..
FDY43     1
FDQ60     1
FDO33     1
DRF48     1
FDC23     1
Name: Item_ID, Length: 1559, dtype: int64


Value Counts for Item_Weight:
12.150    86
17.600    82
13.650    77
11.800    76
15.100    68
          ..
7.275      2
7.685      1
9.420      1
6.520      1
5.400      1
Name: Item_Weight, Length: 415, dtype: int64


Value Counts for Item_Fat_Content:
Low Fat    5089
Regular    2889
LF          316
reg         117
low fat     112
Name: Item_Fat_Content, dtype: int64


Value Counts for Item_Visibility:
0.000000    526
0.076975      3
0.162462      2
0.076841      2
0.073562      2
           ...
0.013957      1
0.110460      1
0.124646      1
0.054142      1
0.044878      1
Name: Item_Visibility, Length: 7880, dtype: int64


Value Counts for Item_Type:
Fruits and Vegetables    1232
Snack Foods              1200
Household                 910
Frozen Foods              856
Dairy                     682
Canned                    649
Baking Goods              648
Health and Hygiene        520
Soft Drinks               445
Meat                      425
Breads                    251
Hard Drinks               214
Others                    169
Starchy Foods             148
Breakfast                 110
Seafood                    64
Name: Item_Type, dtype: int64


Value Counts for Maximum_Retail_Price:
172.0422    7
170.5422    6
196.5084    6
188.1872    6
142.0154    6
           ..
97.3384     1
83.1934     1
96.6752     1
152.6682    1
75.4670     1
Name: Maximum_Retail_Price, Length: 5938, dtype: int64


Value Counts for Outlet_Identifier:
OUT027    935
OUT013    932
OUT049    930
OUT046    930
OUT035    930
OUT045    929
OUT018    928
OUT017    926
OUT010    555
OUT019    528
Name: Outlet_Identifier, dtype: int64


Value Counts for Outlet_Establishment_Year:
1985    1463
1987     932
1999     930
1997     930
2004     930
2002     929
2009     928
2007     926
1998     555
Name: Outlet_Establishment_Year, dtype: int64


Value Counts for Outlet_Size:
Medium    2793
Small     2388
High       932
Name: Outlet_Size, dtype: int64


Value Counts for Location_Type:
Tier 3    3350
Tier 2    2785
Tier 1    2388
Name: Location_Type, dtype: int64


Value Counts for Outlet_Type:
Supermarket Type1    5577
Grocery Store        1083
Supermarket Type3     935
Supermarket Type2     928
Name: Outlet_Type, dtype: int64


Value Counts for Item_Outlet_Sales:
958.7520     17
1342.2528    16
703.0848     15
1845.5976    15
1278.3360    14
             ..
4124.6310     1
6622.7126     1
1614.5650     1
5602.7070     1
2778.3834     1
Name: Item_Outlet_Sales, Length: 3493, dtype: int64

In [11]:
# We can see there are values in 'Item_Fat_Content' that can be renamed and merged.
# This is accomplished using the .replace() method with a short dictionary inserted.

df['Item_Fat_Content'] = df['Item_Fat_Content'].replace({'LF': 'Low Fat', 'reg': 'Regular', 'low fat': 'Low Fat'})
df['Item_Fat_Content'].value_counts()

Low Fat    5517
Regular    3006
Name: Item_Fat_Content, dtype: int64

In [12]:
# Next, a null value count is pulled from the data set.

df.isna().sum()

Item_ID                         0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Maximum_Retail_Price            0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Location_Type                   0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [13]:
# Since 'Outlet_Size' is an object-type Series,
# null values are replaced with the term 'MISSING'.

df['Outlet_Size'] = df['Outlet_Size'].fillna('MISSING')
df['Outlet_Size'].isna().sum()

0

In [14]:
#Now, 'MISSING' is a new value.

df['Outlet_Size'].value_counts()

Medium     2793
MISSING    2410
Small      2388
High        932
Name: Outlet_Size, dtype: int64

In [15]:
# Next, null values in 'Item_Weight' must be replaced.

# The head and tail of the data set show that each 'Item_ID' value has the same 'Item_Weight' value.
# To fill the null values, a dictionary will be created.
# Known 'Item_ID' values and their corresponding 'Item_Weight' values will be the keys and values of the dictionary.

# First, null values are removed from 'Item_Weight'.
# This is isolated to the variable weight_nulls_gone.

null_weight = df['Item_Weight'].isna()
weight_nulls_gone = df[null_weight == False]
weight_nulls_gone

,Item_ID,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Maximum_Retail_Price,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,MISSING,Tier 3,Grocery Store,732.3800
4,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
...,...,...,...,...,...,...,...,...,...,...,...,...
8518,FDF22,6.865,Low Fat,0.056783,Snack Foods,214.5218,OUT013,1987,High,Tier 3,Supermarket Type1,2778.3834
8519,FDS36,8.380,Regular,0.046982,Baking Goods,108.1570,OUT045,2002,MISSING,Tier 2,Supermarket Type1,549.2850
8520,NCJ29,10.600,Low Fat,0.035186,Health and Hygiene,85.1224,OUT035,2004,Small,Tier 2,Supermarket Type1,1193.1136
8521,FDN46,7.210,Regular,0.145221,Snack Foods,103.1332,OUT018,2009,Medium,Tier 3,Supermarket Type2,1845.5976
8522,DRG01,14.800,Low Fat,0.044878,Soft Drinks,75.4670,OUT046,1997,Small,Tier 1,Supermarket Type1,765.6700

In [16]:
# From this variable, duplicates of 'Item_ID' values are dropped.

weight_nulls_gone = weight_nulls_gone.drop_duplicates(subset='Item_ID')
weight_nulls_gone

,Item_ID,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Maximum_Retail_Price,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,MISSING,Tier 3,Grocery Store,732.3800
4,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
...,...,...,...,...,...,...,...,...,...,...,...,...
7298,NCW05,20.250,Low Fat,0.148303,Health and Hygiene,108.3938,OUT049,1999,Medium,Tier 1,Supermarket Type1,2787.0388
7373,FDS09,8.895,Regular,0.081547,Snack Foods,49.8008,OUT017,2007,MISSING,Tier 2,Supermarket Type1,759.0120
7421,FDU43,19.350,Regular,0.000000,Fruits and Vegetables,238.6564,OUT013,1987,High,Tier 3,Supermarket Type1,3575.3460
7944,FDO49,10.600,Regular,0.033052,Breakfast,49.7008,OUT046,1997,Small,Tier 1,Supermarket Type1,961.4152
8471,NCT53,5.400,Low Fat,0.048388,Health and Hygiene,163.0526,OUT017,2007,MISSING,Tier 2,Supermarket Type1,2302.3364

In [17]:
# The 'Item_ID' and 'Item_Weight' columns are transformed into lists.

id_list = list(weight_nulls_gone['Item_ID'])
weight_list = list(weight_nulls_gone['Item_Weight'])

In [18]:
# The lists are zipped together in order of future keys and values.
# The zipped lists are turned into a dictionary.
# The dictionary is printed to show the final result.

zipped_list = zip(id_list, weight_list)
id_weight_list = dict(zipped_list)
print(id_weight_list)

{'FDA15': 9.3, 'DRC01': 5.92, 'FDN15': 17.5, 'FDX07': 19.2, 'NCD19': 8.93, 'FDP36': 10.395, 'FDO10': 13.65, 'FDH17': 16.2, 'FDU28': 19.2, 'FDY07': 11.8, 'FDA03': 18.5, 'FDX32': 15.1, 'FDS46': 17.6, 'FDF32': 16.35, 'FDP49': 9.0, 'NCB42': 11.8, 'FDU02': 13.35, 'FDN22': 18.85, 'NCB30': 14.6, 'FDR28': 13.85, 'NCD06': 13.0, 'FDV10': 7.645, 'DRJ59': 11.65, 'FDE51': 5.925, 'FDV38': 19.25, 'NCS17': 18.6, 'FDP33': 18.7, 'FDO23': 17.85, 'DRH01': 17.5, 'NCX29': 10.0, 'DRZ11': 8.85, 'FDK43': 9.8, 'FDA46': 13.6, 'FDC02': 21.35, 'FDL50': 12.15, 'FDM39': 6.42, 'NCP05': 19.6, 'FDV49': 10.0, 'FDL12': 15.85, 'NCL17': 7.39, 'FDM40': 10.195, 'FDR13': 9.895, 'FDA43': 10.895, 'NCP18': 12.15, 'FDK21': 7.905, 'NCX54': 9.195, 'DRK35': 8.365, 'FDY21': 15.1, 'FDM20': 10.0, 'FDV27': 7.97, 'FDC46': 17.7, 'FDH19': 19.35, 'FDZ03': 13.65, 'DRH37': 17.6, 'NCI17': 8.645, 'FDJ58': 15.6, 'FDH35': 18.25, 'FDG02': 7.855, 'NCZ18': 7.825, 'FDC29': 8.39, 'FDQ10': 12.85, 'FDL04': 19.0, 'FDV25': 5.905, 'FDD58': 7.76, 'FDN04': 11.8, 'FDV45': 16.75, 'FDG20': 15.5, 'FDZ55': 6.055, 'FDN33': 6.305, 'FDN27': 20.85, 'FDW20': 20.75, 'DRG27': 8.895, 'DRI25': 19.6, 'FDA44': 19.7, 'NCR17': 9.8, 'FDF41': 12.15, 'FDB56': 8.75, 'FDT28': 13.3, 'FDW57': 8.31, 'DRB48': 16.75, 'FDP09': 19.75, 'FDH14': 17.1, 'FDA47': 10.5, 'FDG12': 6.635, 'DRK49': 14.15, 'FDD03': 13.3, 'FDS52': 8.89, 'FDV11': 9.1, 'FDD17': 7.5, 'FDZ16': 16.85, 'FDZ46': 7.485, 'DRA12': 11.6, 'FDY58': 11.65, 'NCF19': 13.0, 'DRJ13': 12.65, 'FDB14': 20.25, 'FDJ38': 8.6, 'FDW11': 12.6, 'FDL40': 17.7, 'DRI49': 14.15, 'DRG23': 8.88, 'NCP30': 20.5, 'NCH54': 13.5, 'NCO26': 7.235, 'FDB51': 6.92, 'FDX44': 9.3, 'NCN07': 18.5, 'NCC31': 8.02, 'NCO55': 12.8, 'NCC30': 16.6, 'FDI16': 14.0, 'FDP16': 18.6, 'FDB11': 16.0, 'NCB06': 17.6, 'FDA45': 21.25, 'DRJ25': 14.6, 'FDI04': 13.65, 'FDX20': 7.365, 'NCI18': 18.35, 'FDB36': 5.465, 'FDN13': 18.6, 'DRD24': 13.85, 'FDQ28': 14.0, 'FDM22': 14.0, 'DRF49': 7.27, 'FDW51': 6.155, 'DRL01': 19.5, 'FDP25': 15.2, 'NCM43': 14.5, 'FDK44': 16.6, 'FDM15': 11.8, 'FDS31': 13.1, 'FDI32': 17.7, 'FDR47': 17.85, 'FDB35': 12.3, 'NCU05': 11.8, 'FDO24': 11.1, 'FDV39': 11.3, 'FDU50': 5.75, 'FDK58': 11.35, 'NCW29': 14.0, 'FDE04': 19.75, 'NCB19': 6.525, 'FDV15': 10.3, 'FDL58': 5.78, 'FDA08': 11.85, 'FDT43': 16.35, 'FDT20': 10.5, 'FDB41': 19.0, 'NCN55': 14.6, 'NCM53': 18.75, 'FDE36': 5.26, 'FDN57': 18.25, 'FDI19': 15.1, 'FDF24': 15.5, 'FDG52': 13.65, 'DRF36': 16.1, 'FDX40': 12.85, 'DRK12': 9.5, 'DRC27': 13.8, 'NCD30': 19.7, 'NCZ54': 14.65, 'FDE10': 6.67, 'FDR44': 6.11, 'FDP28': 13.65, 'FDX15': 17.2, 'FDA39': 6.32, 'FDY24': 4.88, 'FDC60': 5.425, 'FDH28': 15.85, 'FDT25': 7.5, 'FDS49': 9.0, 'FDL56': 14.1, 'FDF14': 7.55, 'NCR38': 17.25, 'NCR18': 15.85, 'NCU41': 18.85, 'FDY56': 16.35, 'DRJ51': 14.1, 'FDY25': 12.0, 'FDU44': 12.15, 'FDL43': 10.1, 'FDF05': 17.5, 'FDL20': 17.1, 'FDV32': 7.785, 'FDJ34': 11.8, 'FDG08': 13.15, 'FDW13': 8.5, 'FDY03': 17.6, 'FDS12': 9.1, 'FDJ55': 12.8, 'DRK01': 7.63, 'FDG28': 9.285, 'FDY38': 13.6, 'FDN01': 8.895, 'NCR54': 16.35, 'FDG29': 17.6, 'FDG24': 7.975, 'FDG59': 15.85, 'FDM28': 15.7, 'FDW04': 8.985, 'FDS26': 20.35, 'FDQ56': 6.59, 'FDK51': 19.85, 'FDL22': 16.85, 'FDY55': 16.75, 'FDZ32': 7.785, 'DRE49': 20.75, 'FDT39': 6.26, 'FDE08': 18.2, 'FDB57': 20.25, 'NCT54': 8.695, 'FDF20': 12.85, 'FDH27': 7.075, 'FDY59': 8.195, 'FDK36': 7.09, 'NCM31': 6.095, 'FDE33': 19.35, 'FDU36': 6.15, 'NCQ54': 17.7, 'DRE60': 9.395, 'DRP47': 15.75, 'FDB21': 7.475, 'FDR04': 7.075, 'FDX23': 6.445, 'FDX19': 19.1, 'FDD40': 20.25, 'FDA01': 15.0, 'FDS33': 6.67, 'FDB29': 16.7, 'FDF46': 7.07, 'FDA33': 6.48, 'FDC08': 19.0, 'FDB53': 13.35, 'FDX36': 9.695, 'DRD13': 15.0, 'FDC52': 11.15, 'FDB45': 20.85, 'NCK19': 9.8, 'FDV51': 16.35, 'FDZ35': 9.6, 'FDV59': 13.35, 'DRH39': 20.7, 'FDU55': 16.2, 'NCO43': 5.5, 'FDQ07': 15.1, 'FDF28': 15.7, 'FDM01': 7.895, 'FDR24': 17.35, 'NCY18': 7.285, 'NCY30': 20.25, 'DRI37': 15.85, 'FDL27': 6.17, 'NCO30': 19.5, 'NCB07': 19.2, 'FDX25': 16.7, 'FDP59': 20.85, 'FDR59': 14.5, 'FDT27': 11.395, 'DRI01': 7.97, 'FDU09': 7.71, 'FDH26': 19.25, 'FDH40': 11.6, 'DRN47': 12.1, 'NCO17': 10.0, 'FDX60': 14.35, 'FDT22': 10.395, 'FDG45': 8.1, 'FDD44': 8.05, 'FDS15': 9.195, 'FDL51': 20.7, 'FDL32': 15.7, 'NCA54': 16.5, 'FDX09': 9.0, 'FDO51': 6.785, 'FDW49': 19.5, 'FDB27': 7.575, 'FDF45': 18.2, 'FDV02': 16.75, 'FDY28': 7.47, 'FDP51': 13.85, 'FDL52': 6.635, 'FDB34': 15.25, 'FDC50': 15.85, 'FDT57': 15.2, 'FDY32': 7.605, 'FDW07': 18.0, 'NCF18': 18.35, 'FDN58': 13.8, 'FDG35': 21.2, 'FDY34': 10.5, 'NCE19': 8.97, 'NCJ29': 10.6, 'FDT59': 13.65, 'NCX41': 19.0, 'FDF22': 6.865, 'FDM60': 10.8, 'FDR02': 16.7, 'FDS48': 15.15, 'NCZ42': 10.5, 'FDZ38': 17.6, 'NCB55': 15.7, 'FDC15': 18.1, 'FDF11': 10.195, 'FDB44': 6.655, 'NCC06': 19.0, 'FDB17': 13.15, 'FDW43': 20.1, 'FDA27': 20.35, 'FDN32': 17.5, 'FDZ27': 7.935, 'FDU01': 20.25, 'FDF10': 15.5, 'DRI13': 15.35, 'NCR05': 10.1, 'FDI35': 14.0, 'FDX08': 12.85, 'NCJ18': 12.35, 'FDJ41': 6.85, 'FDU08': 10.3, 'DRH15': 8.775, 'NCV17': 18.85, 'FDE24': 14.85, 'FDH53': 20.5, 'FDZ13': 7.84, 'FDW28': 18.25, 'FDU46': 10.3, 'NCE43': 12.5, 'NCC42': 15.0, 'FDQ20': 8.325, 'FDA13': 15.85, 'FDZ15': 13.1, 'NCV42': 6.26, 'DRI51': 17.25, 'FDO28': 5.765, 'NCS54': 13.6, 'FDH16': 10.5, 'FDR52': 12.65, 'NCH06': 12.3, 'FDA36': 5.985, 'FDT09': 15.15, 'FDU25': 12.35, 'FDK41': 14.3, 'FDM24': 6.135, 'FDQ45': 9.5, 'DRK59': 8.895, 'FDR21': 19.7, 'FDT44': 16.6, 'FDH57': 10.895, 'NCP42': 8.51, 'FDN09': 14.15, 'FDP32': 6.65, 'FDV57': 15.25, 'FDA40': 16.0, 'NCG42': 19.2, 'NCK54': 12.15, 'FDE16': 8.895, 'FDB15': 10.895, 'FDC40': 16.0, 'FDK24': 9.195, 'FDW31': 11.35, 'NCM07': 9.395, 'FDQ37': 20.75, 'FDK28': 5.695, 'FDR43': 18.2, 'FDL48': 19.35, 'DRL23': 18.35, 'NCX42': 6.36, 'DRD37': 9.8, 'FDD08': 8.3, 'NCN18': 8.895, 'NCI29': 8.6, 'FDU52': 7.56, 'FDN16': 12.6, 'NCM55': 15.6, 'FDR49': 8.71, 'FDA16': 6.695, 'FDO04': 16.6, 'NCL19': 15.35, 'FDR60': 14.3, 'FDG53': 10.0, 'DRG01': 14.8, 'FDI27': 8.71, 'FDD29': 12.15, 'NCR41': 17.85, 'FDW44': 9.5, 'FDU21': 11.8, 'FDI14': 14.1, 'FDN39': 19.35, 'FDT31': 19.75, 'FDJ14': 10.3, 'FDU38': 10.8, 'FDS32': 17.75, 'DRH13': 8.575, 'DRF03': 19.1, 'FDJ20': 20.7, 'FDX22': 6.785, 'DRM11': 6.57, 'FDL25': 6.92, 'FDT08': 13.65, 'FDO22': 13.5, 'NCM41': 16.5, 'FDJ21': 16.7, 'FDC53': 8.68, 'FDQ09': 7.235, 'DRE25': 15.35, 'FDL08': 10.8, 'FDW03': 5.63, 'FDC17': 12.15, 'FDE34': 9.195, 'FDP10': 19.0, 'FDZ22': 9.395, 'NCF31': 9.13, 'FDG14': 9.0, 'NCH30': 17.1, 'FDR36': 6.715, 'NCJ30': 5.82, 'FDR08': 18.7, 'FDU04': 7.93, 'NCQ50': 18.75, 'DRK37': 5.0, 'FDK48': 7.445, 'FDV58': 20.85, 'FDZ52': 19.2, 'NCF42': 17.35, 'FDQ48': 14.3, 'FDR58': 6.675, 'NCE07': 8.18, 'FDK14': 6.98, 'NCQ41': 14.8, 'FDX46': 12.3, 'FDC35': 7.435, 'FDH45': 15.1, 'FDX33': 9.195, 'DRJ35': 10.1, 'FDO19': 17.7, 'FDP13': 8.1, 'FDP24': 20.6, 'NCQ42': 20.35, 'FDU14': 17.75, 'FDT32': 19.0, 'FDK20': 12.6, 'FDU13': 8.355, 'FDE58': 18.5, 'FDZ01': 8.975, 'FDM08': 10.1, 'FDS58': 9.285, 'FDZ26': 11.6, 'FDY51': 12.5, 'FDL34': 16.0, 'DRG39': 14.15, 'NCG43': 20.2, 'FDT01': 13.65, 'DRF01': 5.655, 'FDF53': 20.75, 'FDS45': 5.175, 'FDR20': 20.0, 'FDD38': 16.75, 'DRF15': 18.35, 'FDH32': 12.8, 'NCJ42': 19.75, 'NCL18': 18.85, 'FDW22': 9.695, 'FDE32': 20.7, 'FDJ08': 11.1, 'FDG38': 8.975, 'NCE31': 7.67, 'FDS19': 13.8, 'FDU11': 4.785, 'FDL02': 20.0, 'DRK23': 8.395, 'FDO27': 6.175, 'FDB16': 8.21, 'NCB18': 19.6, 'NCL53': 7.5, 'FDR16': 5.845, 'NCQ05': 11.395, 'FDF44': 7.17, 'FDK15': 10.8, 'FDU32': 8.785, 'FDG09': 20.6, 'FDE39': 7.89, 'FDU56': 16.85, 'NCH55': 16.35, 'NCQ02': 12.6, 'NCU17': 5.32, 'FDV37': 13.0, 'NCI43': 19.85, 'NCQ53': 17.6, 'NCT18': 14.6, 'FDM14': 13.8, 'FDX57': 17.25, 'NCV05': 10.1, 'FDX39': 14.3, 'FDA23': 9.8, 'NCV06': 11.3, 'DRI39': 13.8, 'FDH21': 10.395, 'FDR26': 20.7, 'FDG21': 17.35, 'NCQ38': 16.35, 'FDN20': 19.35, 'NCN29': 15.2, 'FDI28': 14.3, 'FDZ28': 20.0, 'FDU10': 10.1, 'FDS28': 8.18, 'FDJ03': 12.35, 'FDQ51': 16.0, 'NCK06': 5.03, 'FDY09': 15.6, 'FDA10': 20.35, 'FDO34': 17.7, 'FDF40': 20.25, 'FDY02': 8.945, 'FDB59': 18.25, 'FDO15': 16.75, 'FDB38': 19.5, 'FDY26': 20.6, 'DRE13': 6.28, 'FDD50': 18.85, 'FDV56': 16.1, 'NCR29': 7.565, 'FDZ04': 9.31, 'FDU16': 19.25, 'FDV07': 9.5, 'DRC12': 17.85, 'DRK39': 7.02, 'DRB25': 12.3, 'FDK26': 5.46, 'FDM52': 15.1, 'NCO06': 19.25, 'FDK34': 13.35, 'FDO45': 13.15, 'FDF08': 14.3, 'FDH58': 12.3, 'FDS03': 7.825, 'FDE02': 8.71, 'NCZ06': 19.6, 'FDR23': 15.85, 'FDY35': 17.6, 'FDG44': 6.13, 'FDQ23': 6.55, 'FDY22': 16.5, 'NCN41': 17.0, 'FDH20': 16.1, 'FDB09': 16.25, 'FDA09': 13.35, 'FDP03': 5.15, 'FDO13': 7.865, 'DRD49': 9.895, 'NCP50': 17.35, 'DRP35': 18.85, 'FDN23': 6.575, 'FDS44': 12.65, 'NCI54': 15.2, 'FDA21': 13.65, 'FDE35': 7.06, 'DRJ24': 11.8, 'NCO54': 19.5, 'FDV12': 16.7, 'FDQ31': 5.785, 'DRG15': 6.13, 'FDT21': 7.42, 'FDT10': 16.7, 'FDX26': 17.7, 'FDN02': 16.5, 'DRE27': 11.85, 'FDS27': 10.195, 'FDL46': 20.35, 'NCV30': 20.2, 'FDA51': 8.05, 'FDM46': 7.365, 'FDK02': 12.5, 'FDJ57': 7.42, 'NCB31': 6.235, 'FDT50': 6.75, 'NCY41': 16.75, 'FDJ60': 19.35, 'FDS21': 19.85, 'FDS47': 16.75, 'DRM48': 15.2, 'FDW46': 13.0, 'FDW27': 5.86, 'FDU40': 20.85, 'FDX35': 5.035, 'FDD51': 11.15, 'FDY27': 6.38, 'NCN06': 8.39, 'FDR57': 5.675, 'FDR19': 13.5, 'FDJ33': 8.895, 'FDA52': 16.2, 'FDR27': 15.1, 'NCK42': 7.475, 'NCI31': 20.0, 'FDX16': 17.85, 'NCA05': 20.75, 'DRG51': 12.1, 'NCR30': 20.6, 'DRM37': 15.35, 'FDN56': 5.46, 'FDC09': 15.5, 'NCZ41': 19.85, 'FDP19': 11.5, 'DRL11': 10.5, 'FDO36': 19.7, 'FDF21': 10.3, 'FDS51': 13.35, 'FDE45': 12.1, 'FDX50': 20.1, 'FDQ21': 21.25, 'DRL37': 15.5, 'FDZ39': 19.7, 'FDH10': 21.0, 'NCO18': 13.15, 'FDD05': 19.35, 'FDZ23': 17.75, 'FDX27': 20.7, 'FDR14': 11.65, 'FDO01': 21.1, 'FDZ56': 16.25, 'NCL55': 12.15, 'FDD59': 10.5, 'DRF23': 4.61, 'FDT49': 7.0, 'FDH22': 6.405, 'FDT34': 9.3, 'FDB39': 11.6, 'FDQ22': 16.75, 'NCN43': 12.15, 'FDG57': 14.7, 'NCC43': 7.39, 'FDP01': 20.75, 'FDF52': 9.3, 'FDZ33': 10.195, 'FDW56': 7.68, 'FDC26': 10.195, 'FDF34': 9.3, 'FDD04': 16.0, 'NCJ31': 19.2, 'FDO57': 20.75, 'NCY05': 13.5, 'DRK11': 8.21, 'NCL30': 18.1, 'DRJ39': 20.25, 'FDZ44': 8.185, 'FDV46': 18.2, 'DRG03': 14.5, 'FDU37': 9.5, 'FDI57': 19.85, 'FDM45': 8.655, 'FDB26': 14.0, 'NCN26': 10.85, 'FDO38': 17.25, 'FDG31': 12.15, 'FDI45': 13.1, 'FDE17': 20.1, 'NCG06': 16.35, 'NCP29': 8.42, 'FDM02': 12.5, 'FDR46': 16.85, 'FDQ49': 20.2, 'FDS16': 15.15, 'FDU15': 13.65, 'FDO09': 13.5, 'FDB40': 17.5, 'DRN11': 7.85, 'FDE22': 9.695, 'FDF04': 17.5, 'FDE41': 9.195, 'NCD54': 21.1, 'FDN34': 15.6, 'FDL39': 16.1, 'FDH33': 12.85, 'FDA34': 11.5, 'DRH23': 14.65, 'FDD21': 10.3, 'FDK60': 16.5, 'FDY12': 9.8, 'FDP11': 15.85, 'NCF54': 18.0, 'FDV43': 16.0, 'DRE12': 4.59, 'NCW42': 18.2, 'FDI41': 18.5, 'FDV22': 14.85, 'FDQ46': 7.51, 'FDC44': 15.6, 'FDB22': 8.02, 'FDV23': 11.0, 'FDL33': 7.235, 'FDW48': 18.0, 'NCM06': 7.475, 'FDT46': 11.35, 'FDT38': 18.7, 'FDO40': 17.1, 'FDP12': 9.8, 'FDG16': 15.25, 'FDY11': 6.71, 'FDL38': 13.8, 'FDY60': 10.5, 'FDW40': 14.0, 'FDY08': 9.395, 'NCM42': 6.13, 'NCD07': 9.1, 'FDD09': 13.5, 'DRH59': 10.8, 'DRN36': 15.2, 'DRA24': 19.35, 'FDG34': 11.5, 'FDK22': 9.8, 'FDO33': 14.75, 'FDS10': 19.2, 'FDU34': 18.25, 'FDA26': 7.855, 'FDP38': 10.1, 'FDA50': 16.25, 'FDY10': 17.6, 'FDT19': 7.59, 'NCV54': 11.1, 'FDA28': 16.1, 'FDB05': 5.155, 'FDY52': 6.365, 'FDR48': 11.65, 'FDY15': 18.25, 'FDM51': 11.8, 'FDW09': 13.65, 'FDV44': 8.365, 'FDZ47': 20.7, 'NCP43': 17.75, 'FDL26': 18.0, 'DRM35': 9.695, 'DRD15': 10.6, 'FDV04': 7.825, 'NCN05': 8.235, 'FDJ02': 17.2, 'NCK17': 11.0, 'FDO58': 19.6, 'FDG33': 5.365, 'NCZ05': 8.485, 'NCP54': 15.35, 'FDV01': 19.2, 'FDF57': 14.5, 'FDA02': 14.0, 'DRJ37': 10.8, 'NCP55': 14.65, 'FDK38': 6.65, 'NCZ30': 6.59, 'DRY23': 9.395, 'NCG19': 20.25, 'FDQ01': 19.7, 'FDL44': 18.25, 'DRM23': 16.6, 'NCE18': 10.0, 'DRZ24': 7.535, 'FDT48': 4.92, 'DRG11': 6.385, 'FDP60': 17.35, 'FDE05': 10.895, 'FDC32': 18.35, 'FDJ22': 18.75, 'NCH18': 9.3, 'DRC13': 8.26, 'FDG47': 12.8, 'NCT05': 10.895, 'FDN50': 16.85, 'FDU60': 20.0, 'FDX02': 16.0, 'DRF27': 8.93, 'FDQ59': 9.8, 'NCZ53': 9.6, 'FDD34': 7.945, 'FDY43': 14.85, 'FDG46': 8.63, 'FDN44': 13.15, 'FDD32': 17.7, 'FDA56': 9.21, 'FDT13': 14.85, 'NCY29': 13.65, 'NCA42': 6.965, 'FDG26': 18.85, 'FDH24': 20.7, 'FDT52': 9.695, 'FDT04': 17.25, 'NCL54': 12.6, 'FDW50': 13.1, 'FDQ32': 17.85, 'FDE29': 8.905, 'FDB37': 20.25, 'FDN46': 7.21, 'FDV28': 16.1, 'FDV40': 17.35, 'FDZ57': 10.0, 'FDY46': 18.6, 'FDX45': 16.75, 'FDB33': 17.75, 'FDT58': 9.0, 'NCL31': 7.39, 'FDJ44': 12.3, 'FDS50': 17.0, 'FDA49': 19.7, 'FDO50': 16.25, 'DRK13': 11.8, 'FDI20': 19.1, 'FDM36': 11.65, 'FDN12': 15.6, 'FDG17': 6.865, 'FDM32': 20.5, 'FDC51': 10.895, 'FDF16': 7.3, 'FDI46': 9.5, 'FDZ21': 17.6, 'DRF25': 9.0, 'FDH05': 14.35, 'FDD52': 18.25, 'FDR55': 12.15, 'FDP04': 15.35, 'FDQ14': 9.27, 'DRN59': 15.0, 'NCR06': 12.5, 'FDB58': 10.5, 'NCV41': 14.35, 'FDW19': 12.35, 'FDO56': 10.195, 'FDN10': 11.5, 'FDY20': 12.5, 'FDV34': 10.695, 'NCX18': 14.15, 'FDT12': 6.215, 'FDD57': 18.1, 'FDK45': 11.65, 'FDZ48': 17.75, 'FDZ31': 15.35, 'FDL21': 15.85, 'FDC39': 7.405, 'FDP45': 15.7, 'FDC56': 7.72, 'FDE59': 12.15, 'FDB04': 11.35, 'NCK05': 20.1, 'FDR03': 15.7, 'FDC59': 16.7, 'DRB13': 6.115, 'NCE54': 20.7, 'FDC10': 9.8, 'NCL29': 9.695, 'FDM57': 11.65, 'FDZ36': 6.035, 'FDX10': 6.385, 'FDO46': 9.6, 'FDD16': 20.5, 'FDY44': 14.15, 'DRH51': 17.6, 'FDI50': 8.42, 'FDB60': 9.3, 'FDA20': 6.78, 'DRF37': 17.25, 'FDJ26': 15.3, 'FDZ25': 15.7, 'FDZ58': 17.85, 'NCG18': 15.3, 'FDH50': 15.0, 'DRO35': 13.85, 'FDP52': 18.7, 'FDC05': 13.1, 'NCA41': 16.75, 'FDX56': 17.1, 'NCP02': 7.105, 'FDZ49': 11.0, 'NCJ17': 7.68, 'FDP48': 7.52, 'FDI53': 8.895, 'FDW02': 4.805, 'FDO48': 15.0, 'NCR53': 12.15, 'FDF56': 16.7, 'FDL57': 15.1, 'FDV52': 20.7, 'NCS41': 12.85, 'FDF12': 8.235, 'FDM13': 6.425, 'NCS42': 8.6, 'FDD47': 7.6, 'DRE03': 19.6, 'FDE20': 11.35, 'FDI33': 16.5, 'NCT06': 17.1, 'FDD10': 20.6, 'FDK52': 18.25, 'FDJ36': 14.5, 'NCK18': 9.6, 'FDB08': 6.055, 'FDX43': 5.655, 'FDU58': 6.61, 'NCT29': 12.6, 'NCB43': 20.2, 'FDR37': 16.5, 'FDG56': 13.3, 'FDL13': 13.85, 'FDQ03': 15.0, 'NCC55': 10.695, 'FDA25': 16.5, 'FDV33': 9.6, 'FDX47': 6.55, 'FDB02': 9.695, 'FDI56': 7.325, 'FDQ08': 15.7, 'DRJ49': 6.865, 'FDP26': 7.785, 'FDO32': 6.36, 'FDR34': 17.0, 'FDU59': 5.78, 'FDN31': 11.5, 'FDC03': 8.575, 'FDL14': 8.115, 'FDP39': 12.65, 'FDT11': 5.94, 'FDU48': 18.85, 'NCP06': 20.7, 'FDT45': 15.85, 'FDE56': 17.25, 'FDZ34': 6.695, 'NCM54': 17.7, 'FDV24': 5.635, 'FDD46': 6.035, 'FDQ39': 14.8, 'FDE11': 17.7, 'NCU54': 8.88, 'FDO60': 20.0, 'NCS06': 7.935, 'FDQ55': 13.65, 'NCO02': 11.15, 'FDB12': 11.15, 'FDT40': 5.985, 'NCO05': 7.27, 'FDR32': 6.78, 'FDM04': 9.195, 'FDH08': 7.51, 'FDZ08': 12.5, 'FDU03': 18.7, 'FDV08': 7.35, 'FDY49': 17.2, 'DRK47': 7.905, 'NCE06': 5.825, 'DRI47': 14.7, 'FDR35': 12.5, 'FDK03': 12.6, 'FDN48': 13.35, 'FDZ59': 6.63, 'FDL09': 19.6, 'FDL03': 19.25, 'NCG07': 12.3, 'FDP22': 14.65, 'FDL45': 15.6, 'FDC45': 17.0, 'FDI40': 11.5, 'FDQ11': 5.695, 'FDQ52': 17.0, 'FDJ27': 17.7, 'NCM18': 13.0, 'FDT26': 18.85, 'DRD60': 15.7, 'NCH07': 13.15, 'FDP44': 16.5, 'FDI48': 11.85, 'NCF06': 6.235, 'FDT24': 12.35, 'FDK08': 9.195, 'FDS11': 7.05, 'DRE15': 13.35, 'FDX21': 7.05, 'NCI42': 18.75, 'FDX37': 16.2, 'FDX14': 13.1, 'FDM09': 11.15, 'NCW54': 7.5, 'FDF47': 20.85, 'FDW12': 8.315, 'FDW24': 6.8, 'DRD01': 12.1, 'FDN25': 7.895, 'FDP20': 19.85, 'FDR45': 10.8, 'FDZ45': 14.1, 'FDB23': 19.2, 'FDC41': 15.6, 'NCM26': 20.5, 'FDW35': 10.6, 'FDK40': 7.035, 'NCL42': 18.85, 'FDC33': 8.96, 'FDY04': 17.7, 'NCG30': 20.2, 'NCH29': 5.51, 'FDV20': 20.2, 'NCM29': 11.5, 'FDD53': 16.2, 'FDI44': 16.1, 'FDU20': 19.35, 'NCP41': 16.6, 'FDS01': 11.6, 'FDJ28': 12.3, 'FDH44': 19.1, 'NCY54': 8.43, 'DRA59': 8.27, 'FDS55': 7.02, 'DRG49': 7.81, 'NCN19': 13.1, 'FDH09': 12.6, 'FDS25': 6.885, 'NCI30': 20.25, 'FDM33': 15.6, 'NCA53': 11.395, 'FDA04': 11.3, 'FDS56': 5.785, 'FDT07': 5.82, 'FDA38': 5.44, 'FDM56': 16.7, 'NCW18': 15.1, 'FDQ44': 20.5, 'FDQ34': 10.85, 'FDN08': 7.72, 'FDK10': 5.785, 'FDZ10': 17.85, 'DRG48': 5.78, 'NCH43': 8.42, 'FDD35': 12.15, 'FDR01': 5.405, 'FDS23': 4.635, 'FDJ53': 10.5, 'FDA32': 14.0, 'FDX01': 10.1, 'FDA48': 12.1, 'FDI09': 20.75, 'DRF13': 12.1, 'FDK25': 11.6, 'FDC20': 10.65, 'FDW32': 18.35, 'FDQ19': 7.35, 'FDV50': 14.3, 'DRG37': 16.2, 'FDE53': 10.895, 'FDS08': 5.735, 'FDG22': 17.6, 'FDJ50': 8.645, 'FDV35': 19.5, 'DRL35': 15.7, 'FDS24': 20.85, 'FDS13': 6.465, 'FDX59': 10.195, 'FDL36': 15.1, 'DRJ11': 9.5, 'NCW17': 18.0, 'DRH36': 16.2, 'NCA17': 20.6, 'FDG41': 8.84, 'FDR12': 12.6, 'NCN14': 19.1, 'NCS38': 8.6, 'FDQ16': 19.7, 'FDS40': 15.35, 'FDV31': 9.8, 'NCD42': 16.5, 'DRF60': 10.8, 'FDP34': 12.85, 'FDI02': 15.7, 'FDG50': 7.405, 'FDV48': 9.195, 'FDH02': 7.27, 'NCD43': 8.85, 'FDE46': 18.6, 'FDR40': 9.1, 'DRE48': 8.43, 'FDV60': 20.2, 'FDV16': 7.75, 'FDY19': 19.75, 'FDD41': 6.765, 'NCK07': 10.65, 'FDZ60': 20.5, 'FDW47': 15.0, 'FDR56': 15.5, 'FDX58': 13.15, 'DRH25': 18.7, 'FDS04': 10.195, 'FDK16': 9.065, 'NCU42': 9.0, 'FDS37': 7.655, 'FDS57': 15.5, 'FDI52': 18.7, 'FDG40': 13.65, 'FDU49': 19.5, 'NCM30': 19.1, 'DRO47': 10.195, 'NCY06': 15.25, 'NCL41': 12.35, 'FDM58': 16.85, 'FDW45': 18.0, 'FDI07': 12.35, 'DRL47': 19.7, 'FDW01': 14.5, 'NCF07': 9.0, 'FDL24': 10.3, 'FDD20': 14.15, 'FDF09': 6.215, 'FDY45': 17.5, 'FDX49': 4.615, 'FDE26': 9.3, 'FDD56': 15.2, 'FDQ13': 11.1, 'DRD25': 6.135, 'FDT16': 9.895, 'NCB54': 8.76, 'FDA31': 7.1, 'FDM12': 16.7, 'FDT03': 21.25, 'FDB49': 8.3, 'FDE47': 14.15, 'FDU23': 12.15, 'NCA30': 19.0, 'FDH41': 9.0, 'FDS43': 11.65, 'FDP37': 15.6, 'FDJ09': 15.0, 'FDX34': 6.195, 'DRD27': 18.75, 'FDI12': 9.395, 'FDQ33': 13.35, 'FDH34': 8.63, 'NCX30': 16.7, 'FDB20': 7.72, 'NCK29': 5.615, 'DRL60': 8.52, 'FDV09': 12.1, 'DRJ23': 18.35, 'FDQ26': 13.5, 'NCA06': 20.5, 'FDJ07': 7.26, 'FDP56': 8.185, 'FDQ12': 12.65, 'FDF26': 6.825, 'FDA11': 7.75, 'FDW38': 5.325, 'FDI21': 5.59, 'FDH12': 9.6, 'FDC21': 14.6, 'FDD02': 16.6, 'FDL28': 10.0, 'FDR10': 17.6, 'FDR15': 9.3, 'FDQ40': 11.1, 'FDS34': 19.35, 'FDT56': 16.0, 'NCX06': 17.6, 'DRM59': 5.88, 'FDW34': 9.6, 'FDU24': 6.78, 'FDX11': 16.0, 'FDF35': 15.0, 'FDD22': 10.0, 'FDT60': 12.0, 'NCQ06': 13.0, 'FDW37': 19.2, 'FDY33': 14.5, 'FDF17': 5.19, 'FDU22': 12.35, 'NCP53': 14.75, 'FDF29': 15.1, 'FDI10': 8.51, 'FDR09': 18.25, 'DRH03': 17.25, 'NCJ05': 18.7, 'FDO03': 10.395, 'FDM21': 20.2, 'FDD26': 8.71, 'FDO39': 6.985, 'FDX51': 9.5, 'FDC38': 15.7, 'FDP07': 18.2, 'FDK27': 11.0, 'FDP31': 21.1, 'NCO07': 9.06, 'NCL05': 19.6, 'FDM10': 18.25, 'FDD11': 12.85, 'FDN45': 19.35, 'FDW39': 6.69, 'FDJ04': 18.0, 'NCT42': 5.88, 'FDM25': 10.695, 'FDD45': 8.615, 'FDK56': 9.695, 'NCU18': 15.1, 'DRQ35': 9.3, 'FDJ48': 11.3, 'FDK09': 15.2, 'FDC57': 20.1, 'NCN42': 20.25, 'FDT55': 13.6, 'FDQ57': 7.275, 'FDM34': 19.0, 'DRD12': 6.96, 'FDJ16': 9.195, 'FDZ12': 9.17, 'FDI22': 12.6, 'NCC07': 19.6, 'FDM16': 8.155, 'FDT36': 12.3, 'FDH38': 6.425, 'FDC16': 11.5, 'FDW26': 11.8, 'FDT33': 7.81, 'FDU31': 10.5, 'DRJ01': 6.135, 'NCF43': 8.51, 'FDY47': 8.6, 'NCS53': 14.5, 'DRB24': 8.785, 'FDE23': 17.6, 'FDN21': 18.6, 'DRC25': 5.73, 'FDW60': 5.44, 'NCQ18': 15.75, 'NCE30': 16.0, 'FDW25': 5.175, 'NCY17': 18.2, 'NCS18': 12.65, 'FDZ40': 8.935, 'FDB32': 20.6, 'FDG10': 6.63, 'FDF38': 11.8, 'FDY57': 20.2, 'FDY16': 18.35, 'DRH49': 19.7, 'FDA22': 7.435, 'FDV03': 17.6, 'FDP27': 8.155, 'FDZ20': 16.1, 'FDZ37': 8.1, 'FDL10': 8.395, 'FDF33': 7.97, 'FDQ27': 5.19, 'NCQ29': 12.0, 'NCI55': 18.6, 'FDD14': 20.7, 'NCD18': 16.0, 'NCE55': 8.92, 'NCQ43': 17.75, 'FDX48': 17.75, 'DRF48': 5.73, 'FDU51': 20.2, 'NCC19': 6.57, 'NCO29': 11.15, 'FDX55': 15.1, 'FDZ19': 6.425, 'FDY36': 12.3, 'FDL16': 12.85, 'NCV53': 8.27, 'FDA35': 14.85, 'FDX24': 8.355, 'NCS05': 11.5, 'FDK04': 7.36, 'FDI58': 7.64, 'FDJ45': 17.75, 'FDW21': 5.34, 'NCZ17': 12.15, 'FDG58': 10.695, 'FDI60': 7.22, 'FDW52': 14.0, 'FDN38': 6.615, 'FDU39': 18.85, 'FDR25': 17.0, 'FDM44': 12.5, 'DRM47': 9.3, 'NCA29': 10.5, 'NCJ43': 6.635, 'FDW15': 15.35, 'FDO20': 12.85, 'FDJ56': 8.985, 'NCR50': 20.2, 'FDN28': 5.88, 'FDY13': 12.1, 'NCM17': 7.93, 'FDB52': 17.75, 'FDS07': 12.35, 'FDO31': 6.76, 'FDP57': 17.5, 'FDO21': 11.6, 'FDW58': 20.75, 'NCL07': 13.85, 'FDU12': 15.5, 'FDO52': 11.6, 'FDI26': 5.94, 'FDO25': 6.3, 'FDV47': 17.1, 'FDF02': 16.2, 'DRG13': 17.25, 'FDD36': 13.3, 'FDI15': 13.8, 'NCN17': 11.0, 'FDN24': 14

In [19]:
# The original 'Item_Weight' Series' nulls are filled using the .map() method as shown by jezrael on Stack Overflow.
# https://stackoverflow.com/questions/71205742/filling-empty-rows-with-dictionary-values-via-for-loop-pandas

# By pulling the data frame's columns 'Item_ID' and 'Item_Weight' and sorting by 'Item_ID',
# we can see that the occasional null values have now been filled.

df['Item_Weight'] = df['Item_Weight'].fillna(df['Item_ID'].map(id_weight_list))
df[['Item_ID', 'Item_Weight']].sort_values('Item_ID')

     Item_ID  Item_Weight
8043   DRA12        11.60
118    DRA12        11.60
1693   DRA12        11.60
1197   DRA12        11.60
1245   DRA12        11.60
...      ...          ...
7926   NCZ54        14.65
214    NCZ54        14.65
1896   NCZ54        14.65
7166   NCZ54        14.65
7738   NCZ54        14.65

[8523 rows x 2 columns]

In [20]:
# The remaining null values are pulled.

df['Item_Weight'].isna().sum()

4

In [21]:
# Because there are only four null values remaining, we can assume there are no corresponding values in the data set.

remaining_weight_nulls = df.isna().any(axis=1)
df[remaining_weight_nulls]

,Item_ID,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Maximum_Retail_Price,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Location_Type,Outlet_Type,Item_Outlet_Sales
927,FDN52,NaN,Regular,0.130933,Frozen Foods,86.9198,OUT027,1985,Medium,Tier 3,Supermarket Type3,1569.9564
1922,FDK57,NaN,Low Fat,0.079904,Snack Foods,120.0440,OUT027,1985,Medium,Tier 3,Supermarket Type3,4434.2280
4187,FDE52,NaN,Regular,0.029742,Dairy,88.9514,OUT027,1985,Medium,Tier 3,Supermarket Type3,3453.5046
5022,FDQ60,NaN,Regular,0.191501,Baking Goods,121.2098,OUT019,1985,Small,Tier 1,Grocery Store,120.5098

In [22]:
# The maximum value from 'Item_Weight' is pulled.

max(df['Item_Weight'])

21.35

In [23]:
# Missing null values in 'Item_Weight' are filled using 999, a number much higher than the Series' previous maximum value.

df['Item_Weight'] = df['Item_Weight'].fillna(999)
df['Item_Weight'].isna().sum()

0

In [24]:
# The data set is checked one more time for any remaining null values.

df.isna().sum()

Item_ID                      0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Maximum_Retail_Price         0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Location_Type                0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

## Exploratory Data Analysis

## Explanatory Data Analysis